{% extends "base.html" %}

{% block main_content %}
    <style>
    li.link {
        margin-top: .5rem;
    }
    </style>
    <main>
        <article>
            {{<post.page_header title={page.title} />}}
            <div>
                Personal collection of links with interesting content!
            </div>
            <section class="body">
                {% set links_data = load_data(path="data/links.json", format="json") %}
                {% for category_name, category_links in links_data %}
                    <h1>{{ category_name | safe }}</h1>
                    <ul>
                        {% for link_json in category_links %}
                            <li class="link">
                                <a href={{ link_json.link }}>
                                    {{ link_json.alias | safe }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </section>
        </article>
    </main>
{% endblock main_content %}
